body{
	font-family: Proba Pro Regular;
	font-family: 'Advent Pro', sans-serif;
	font-family: 'Lato', sans-serif;
}
.wraper{
	overflow: hidden;
}
.top-line{
	max-width: 1919px;
	min-height: 50px;
	background-color: #171717;
}
.top-text{
	max-width: 970px;
	margin: auto;
}
.top-text a{
	color: #fff;
	border-bottom: 1px dashed;
	text-decoration: none;
}
.top-text li{
	color: #fff;
	float: left;
	line-height: 50px;
	font-size: 18px;
	margin: 0 2%;
}
.top-text ul{
	overflow: hidden;
}
.oil{
	background-image: url(img/head-bg.jpg);
	background-size: cover;
	max-width: 1920px;
	min-height: 975px;
	position: relative;
}
.oil-top{
	max-width: 910px;
	margin: auto;
	overflow: hidden;
}
.logo-block{
	min-height: 85px;
	background-color: #fff;	
	float: left;
	padding: 35px 35px 35px 35px
}
.logo-block p{
	font-size: 15px;
	color: #dd5342;
	font-family: 'Lato', sans-serif italic;
	margin-left: 123px;
	margin-top: 20px;
}
.logo-block img{
	margin-top: -11px;
}
.number{
	max-width: 280px;
	min-height: 125px;
	float: right;
	margin: 2%;
}
.number p{
	font-size: 16px;
	line-height: 30px;
}
.number strong{
	font-size: 26px;
}
.number a{
	color: #000;
	text-decoration: none;
	font-size: 22px;
	border-bottom: dashed;
}
.compr-oil{
	transform: rotate(6deg) scale(0.5, 2.8) skew(-16deg, -1deg) translate(6px, 40px);
	background-color: #fff;
	box-shadow: 1px 1px 1px 1px;
}
.compr-oil>*{
	transform: rotate(0deg) scale(2.4, 0.8) skew(14deg, 0deg) translate(191px, 2px)
}
.compr-oil-text{
	max-width: 528px;
}
.compr-oil-text h1{
	text-transform: uppercase;
}
.form-head{
	max-width: 380px;
	min-height: 425px;
	position: absolute;
	bottom: 55px;
	left: 495px;
	background-color: #fff;
	box-shadow: 3px 4px 16px 1px;
}
.form-head h2{
	font-size: 22px;
	margin-top: 45px;
	float: left;
	margin-left: 50px;
	line-height: 35px
}
.form-head input{
	width: 279px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #7f7f7f;
	color: #7f7f7f;
}
.form-head form{
	padding: 4%;
	overflow: hidden;
	max-width: 310px;
	margin: auto;
}
.form-head td{
	padding: 5%;
}
.submit-button{
	background-color: #db422c;
	border: none;
}
.submit-button:last-child{
	color: #fff;
}
.form-head p{
	font-size: 20px;
	margin-left: 46px;
}
.cooperation{
	max-width: 1920px;
	min-height: 616px;
}
.cooperation h2{
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
}
.blocks{
	max-width: 995px;
	margin: auto;
	overflow: hidden;
}
.block-left{
	overflow: hidden;
	width: 50%;
	float: left;
	margin-top: 50px;
}
.block-left:last-child{
	margin-top: -8%;
}
.block-left img{
	float: left;
}
.block-right{
	padding: 4%;
	margin-left: 120px;
}
.partners{
	max-width: 1920px;
	min-height: 420px;
	background-color: #0f0f0f;
}
.partner-wraper{
	padding-top: 5%;
}
.partners-logo{
	background-image: url(img/partners-logo.png);
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 970px;
	min-height: 280px;
	margin: auto;
}
.partners-logo h2{
	color: #fff;
	font-size: 50px;
}
.сhoice{
	background-image: url(img/drop-bg.jpg);
	max-width: 1920px;
	min-height: 720px;
}
.сhoice h2{
	text-align: center;
	font-size: 50px;
	padding-top: 50px;
}
.drop{
	width: 80%;
	margin: 0px auto;
	overflow: hidden;
	margin-top: 3%;
}
.drop-left{
	width: 42%;
	float: left;
	margin-left: 8%;
}
.drop-left h3{
	font-size: 23px;
	margin-top: 7%;
}
.drop-right {
    padding-top: 13%;
}
.drop-right p{
	font-size: 23px;
}
.drop-left img{
	margin-left: -94px;
	float: left;
}
.statistics{
	max-width: 1920px ;
	min-height: 1145px;
}
.statistics-block{
	max-width: 970px ;
	min-height: 1090px;
	margin: 50px auto;
}
.red-black{
	max-width: 320px ;
	min-height: 80px;
}
.color-block{
	overflow: hidden;
	padding: 1%;
}
.color-block img{
	float: left;
}
.color-block p{
	margin-left: 50px;
}
.statistics-item{
	overflow: hidden;
	margin-top: 50px;
}
.elips{
	background-image: url(img/elips.png);
}
.statistics-item img{
	float: left;
	width: 50%;
}
.compresor{
	overflow: hidden;
}
.compresor img{
	float: right;
}
.compresor-text {
	font-size: 23px;
	max-width: 414px;
	padding: 18% 0 0 5%;
}
.laboratory{
	background-image: url(img/laboratory.jpg);
	max-width: 1920px;
	min-height: 865px;
}
.laboratory h2{
	font-size: 50px;
	text-align: center;
	color: #fff;
	padding: 60px 0;
}
.laboratory-sl{
	max-width: 820px;
	min-height: 410px;
	margin: auto;
}
.laboratory-img{
	float: right;
	margin-right: 15%;
	margin-top: 6%;
}
.laboratory-text{
	padding: 4%;
}
.laboratory-bot{
	margin-top: 5%;
}
.laboratory-text li{
	padding: 1%;
}
.grafik{
	max-width: 760px;
	min-height: 65px;
	margin: auto;
	background-color: #fff;
	padding: 35px 15px 35px 20px;
	margin-top: 3%;
}
.grafik p{
	font-size: 20px;
}
.cssarrow {
	position: relative;
	background: #fff;
	border: 3px solid #fff;
}
.cssarrow:after,
.cssarrow:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.cssarrow:after {
	border-bottom-color: #fff;
	border-width: 24px;
	margin-left: -24px;
}
.cssarrow:before {
	border-bottom-color: #fff;
	border-width: 28px;
	margin-left: -28px;
}
.stock{
	max-width: 1920px;
	min-height: 940px;
	background-color: #ebebeb;
}
.stock-block-top{
	max-width: 970px;
	min-height: 400px;
	margin: auto;
}
.stock-h2{
	font-size: 50px;
	padding-top: 5%;
	color: #7d6940;
}
.stock-p{
	font-size: 20px;
	margin-top: 5%
}
.stock-block-bot{
	max-width: 970px ;
	min-height: 400px;
	margin: auto;
	background-color: #fff;
	box-shadow: 1px 1px 13px 1px;
}
.liter{
	overflow: hidden;
	margin: 50px auto;
}
.liter-item{
	float: left;
	min-height: 180px;
	width: 20%;
	text-align: center;
}
.item1:after{
	content: "";
	background: url(img/tara-img.png);
	display: block;
	background-position:9px -25px;
	width: 180px;
	height: 180px;
}
.item2:after{
	content: "";
	background: url(img/tara-img.png);
	display: block;
	background-position: -167px -25px;
	width: 187px;
	height: 180px;
}
.item3:after{
	content: "";
	background: url(img/tara-img.png);
	display: block;
	background-position: -372px -25px;
	width: 187px;
	height: 180px;
}
.item4:after{
	content: "";
	background: url(img/tara-img.png);
	display: block;
	background-position: -572px -25px;
	width: 187px;
	height: 180px;
}
.item5:after{
	content: "";
	background: url(img/tara-img.png);
	display: block;
	background-position: -772px -25px;
	width: 187px;
	height: 180px;
}
.scale{
	min-height: inherit;
}
.scale img{
	margin-left: 5%;
}
.scale-text{
	overflow: hidden;
	padding-top: 5%;
	padding-left: 7%;
}
.scale-text p{
	float: left;
	font-size: 20px;
	margin-left: 22%;
}
.scale-p{
	text-align: center;
	margin-top: 3%;
	font-size: 20px;
}
.scale-text p:first-child{
	margin-right: -15%;
}
.digit-liters{
	overflow: hidden;
	padding-left: 6%
}
.digit-liters p{
	float: left;
	margin-left: 14%;
}
.digit-liters p:first-child{
	margin: 0;
}
.digit-liters p:last-child{
	margin-left: 28%;
}
.quantity{
	text-align: center;
}
.quantity p{
	margin-top: 4%;
	font-size: 20px;
}
.scale-form{
	margin-top: 5%;
}
.scale-form input{
	width: 25%;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #7f7f7f;
	color: #7f7f7f;
	margin-left: 6%;
}
.substitution{
	background-image: url(img/Substitution.jpg);
	background-size: cover;
	max-width: 1920px;
	min-height: 450px;
	background-repeat: no-repeat;
	position: relative;
}
.man{
	background-image: url(img/man.png);
	position: absolute;
	height: 337px;
	width: 330px;
	left: 480px;
	bottom: 0px;
}
.substitution-h2{
	max-width: 955px;
	min-height: 170px;
	margin: auto;
	font-size: 50px;
	color: #fff;
}
.substitution-p{
	max-width: 300px;
	padding: 5%;
	float: left;
}
.substitution-p p{
	background-color: #fff;
	display: inline;
	font-size: 20px;
}
.substitution-block{
	max-width: 885px;
	min-height: 260px;
	margin: auto;
	overflow: hidden;
}
.substitution-form{
	max-width: 280px;
	min-height: 176px;
	background-color: #fff;
	margin-left: 62%;
	margin-top: 4%;
}
.substitution-form td{
	padding: 3% 8%;
}
.substitution-form input{
	width: 239px;
	height: 38px;
	border-radius: 4px;
	border: 1px solid #7f7f7f;
	color: #7f7f7f;
}
.warning{
	max-width: 1920px;
	min-height: 150px;
}
.warning-text{
	max-width: 735px;
	min-height: 120px;
	margin: auto;
	margin-top: 6%;
	overflow: hidden;
}
.warning-text img{
	float: left;
}
.warning-p{
	margin-top: 2%;
	margin-left: 20%;
	
	line-height: 20px;
}
.warning-p p{
	width: 90%;
}
.original{
	background-image: url(img/original.jpg);
	max-width: 1920px;
	min-height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
}
.original h2{
	font-size: 50px;
	text-align: center;
	padding-top: 2%;
	color: #fff;
}
.original-block{
	max-width: 950px;
	min-height: 400px;
	margin: auto;
}
.original-form{
	max-width: 290px;
	min-height: 350px;
	background-color: #fff;
	padding: 20px 10px 10px 10px;
	margin-top: 2%;
	float: left;
}
.original-form p{
	font-size: 20px;
}
.original-form  td{
	width: 1%;
}
.original-form input{
	width: 92%;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #7f7f7f;
	color: #7f7f7f;
	margin-left: 3%;
	margin-top: 6%;
}
.original-right{
	max-width: 490px;
	min-height: 420px;
	float: right;
	overflow: hidden;
}
.original-p{
	margin-top: 10%;
	font-size: 20px;
}
.original-p p{
	color: #fff;
	margin-left: 10%;
}
.original-p img{
	float: left;
}
.example{
	max-width: 1920px;
	min-height: 720px;
	background-color: #d4d4d4;
}
.example-block{
	max-width: 850px;
	min-height: 580px;
	margin: auto;
}
.example-block-h2{
	text-align: center;
	font-size: 42px;
	padding-top: 5%;
}
.sl-example{
	max-width: 800px;
	min-height: 420px;
	margin: auto;
	margin-top: 5%;
}
.delivery{
	background-image: url(img/delivery-bg.jpg);
	background-repeat: no-repeat;
	max-width: 1920px;
	min-height: 700px;
	background-size: cover;
}
.delivery h2{
	font-size: 50px;
	text-align: center;
	padding-top: 3%;
	color: #fff;
}
.girl{
	background-image: url(img/girl.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 1920px;
	min-height: 600px;
	position: relative;
}
.romb{
	background-image: url(img/romb.png);
	width: 113px;
	height: 100px;
	position: absolute;
	bottom: 190px;
	right: 59px;
}
.girl-block{
	max-width: 890px;
	min-height: 410px;
	margin: auto;
	padding-top: 7%;
	position: relative;
}
.girl-name{
	max-width: 215px;
	min-height: 24px;
	float: left;
	position: absolute;
	bottom: 0;
	left: 100px;
	background-color: #7d6940;
	font-size: 20px;
	line-height: 30px;
}
.girl-name p:first-child{
	background-color: #7d6940;
	color: #fff;
	width: 230px;
}
.girl-name p:last-child{
	background-color: #fff;
	color: #7d6940;
}
.girl-form{
	max-width: 470px;
	min-height: 420px;
	float: right;
}
.girl-form table{
	position: relative;
}
.girl-text h2{
	font-size: 50px;
	margin-bottom: 5%;
}
.girl-text p{
	font-size: 20px;
}
.girl-form input{
	width: 100%;
	height: 30px;
	border-radius: 2px;
	border: 1px solid #7f7f7f;
	color: #7f7f7f;
	margin-left: 12%;
}
.girl-form td{
	padding-top: 5%;
}
.girl-form form{
	padding-top: 10%;
}
footer{
	max-width: 1920px;
	min-height: 135px;
	background-image: url(img/foter-bg.jpg);
}
.footer-block{
	max-width: 990px;
	min-height: 135px;
	margin: auto;
}
.footer-logo{
	max-width: 330px;
	min-height: 80px;
	float: left;
	margin-top: 4%;
}
.footer-logo p{
	margin-left: 130px;
	color: #fff;
	margin-bottom: -25px;
}
.numb-footer img{
 	float: left;
}
.mageron{
	max-width: 210px;
	float: left;
	margin-top: 5%;
    margin-left: 10%;
	font-size: 20px;
	color: #fff;
}
.numb-footer{
	max-width: 280px;
	float: right;
	margin-top: 4%;
	font-size: 20px;
	line-height: 27px;
	color: #fff;
}
.numb-footer a{
	color: #fff;
	border-bottom: 1px dashed;
}
/*media*/
@media only screen and (max-width: 1030px){
	.man{
		display: none;
	}
}
@media only screen and (max-width: 890px){
	.form-head{
		left: 285px;
	}
	.block-left:last-child {
    margin-top: 6%;
}
}
@media only screen and (max-width: 680px){
	.compr-oil{
		display: none;
	}
	.form-head{
		margin: auto;
		margin-top: 20%;
	}
	.drop-left {
    width: 100%;
    float: none;
    margin-left: 18%;
	}
	.original-form,
	.original-right{
		float: none;
		margin: auto;
	}
}
@media only screen and (max-width: 593px){
	.delivery{
		display: none;
	}
	.substitution-p{
		display: none;
	}
	.substitution-form{
		    margin-left: 25%;
	}
	.logo-block{
		float: none;
	}
	.number{
		float: none;
		margin: auto;
	}
}